<section class="advert-type mb-4">
    <h4 class="h4-responsive text-dark font-weight-bold mb-2">Nos types d'annonces</h4>
    <div class="card">
        <div class="type-container">
            <div class="type-item">
                <a href="{{ path('app_advert_search_result', {'type': 1}) }}" class="d-flex align-items-center">
                    Vente ou offre <i class="fas fa-long-arrow-alt-right ml-auto"></i>
                </a>
            </div>
            <div class="type-item">
                <a href="{{ path('app_advert_search_result', {'type': 2}) }}" class="d-flex align-items-center">
                    Recherche <i class="fas fa-long-arrow-alt-right ml-auto"></i>
                </a>
            </div>
            <div class="type-item">
                <a href="{{ path('app_advert_search_result', {'type': 3}) }}" class="d-flex align-items-center">
                    Location <i class="fas fa-long-arrow-alt-right ml-auto"></i>
                </a>
            </div>
            <div class="type-item">
                <a href="{{ path('app_advert_search_result', {'type': 4}) }}" class="d-flex align-items-center">
                    Troc ou échange <i class="fas fa-long-arrow-alt-right ml-auto"></i>
                </a>
            </div>
            <div class="type-item">
                <a href="{{ path('app_advert_search_result', {'type': 5}) }}" class="d-flex align-items-center">
                    Don <i class="fas fa-long-arrow-alt-right ml-auto"></i>
                </a>
            </div>
        </div>
    </div>
</section>