{% set has_option = app_has_option(advert, 4) %}

<section class="container-fluid mt-2 mb-5 advert-option-open">
    <div class="row">
        <div class="col-12 mb-3">
            <h1 class="h1-responsive font-weight-bold text-dark text-center mb-3">Votre annonce mérite une place de choix</h1>
            <div class="font-weight-stone-500 text-center">
                Avec jusqu’à 6 fois plus vues que les annonces classique, les<span class="text-primary font-weight-stone-600">annonce en vedette</span>
                sont le meilleur moyen de vous aider à vendre votre article. C’est simple, plus il y a de
                gens qui voient votre annonce, meilleures seront vos chances de faire des ventes !
            </div>
        </div>
        {% if has_option %}
            <div class="col-12 text-center mb-2">
                <div class="option-state">
                    <div class="data">
                        Une option de ce type est déjà active sur cette annonce.<br>
                        Expiration: <span>{{ advert.optionAdvertFeaturedEndAt|date('d/m/Y') }}</span>.
                    </div>
                    <div class="help">
                        Pour prolonger la durée, veuillez acheter une nouvelle formule de cette option. <br>
                        La nouvelle durée sera ajouter à la durée actuelle.
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-12">
            <h1 class="h1-responsive font-weight-bold text-dark text-center mb-3">Choisir une formule</h1>
        </div>
        <div class="col-12 text-center">
            {{ form_start(form) }}

            <div class="form-row my-2 d-flex justify-content-center">
                {% for option in options %}
                    <div class="col-12 col-md-4 col-lg-3 mb-3">
                        <div class="option-item text-center">
                            <div class="label">
                                <span class="title">Annonce en vedette</span> pendant
                                <span class="day">{{ option.days }} jours</span> à
                                <span class="price">{{ option.price|format_currency('XOF') }}</span>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input with-gap" id="option-item-{{ option.id }}" value="{{ option.id }}" name="option" />
                                <label class="form-check-label" for="option-item-{{ option.id }}"></label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {{ form_row(form.option) }}
            {{ form_widget(form._token) }}

            <div>
                <button class="btn btn-primary z-depth-0 option-submit" type="submit" disabled>
                    Valider
                </button>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="h1-responsive font-weight-bold text-dark text-center mb-3">Pourquoi choisir cette option</h1>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body p-3">
                    Idéale pour annoncer de multiples articles en une seule annonce.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body p-3">
                    Pour vendre en continu ou répéter une vente.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body p-3">
                    Pour promouvoir un produit (ou un service) populaire et/ou à prix élevé.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="h1-responsive font-weight-bold text-dark text-center my-3">Avantages pour le vendeur</h1>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body p-3">
                    Votre annonce sera visible à deux endroits afin d’améliorer sa visibilité.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body p-3">
                    Pas besoin d’utiliser l’option <span class="text-primary">annonce en tête de liste</span>.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body p-3">
                    Les acheteurs voient votre annonce dans les premiers résultats de leur recherche
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="h1-responsive font-weight-bold text-dark text-center my-3">Comment ça marche ?</h1>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body p-3">
                    <ul class="font-weight-stone-500 px-3 py-0 mb-0">
                        <li class="mb-2">
                            L’annonce est affichée à deux emplacements: dans la section "En Vedette" de sa
                            catégorie pour la durée de l’option, ainsi qu’à sa position régulière parmi les
                            résultats de recherche.
                        </li>
                        <li class="mb-2">
                            S’il y a plus de cinq annonces en vedette parmi les vôtres et celles d’autres
                            vendeurs dans une même catégorie, elles apparaîtront en rotation chaque fois
                            que la page sera chargé. Ainsi chaque annonce obtient la même visibilité !
                        </li>
                        <li class="mb-2">
                            Cette section populaire affiche jusqu’à cinq
                            <span class="text-primary font-weight-stone-600">annonces en vedette</span> à la fois.
                        </li>
                        <li class="mb-2">
                            Les <span class="text-primary font-weight-stone-600">annonces en vedette</span> sont en
                            moyenne 6 fois plus vues que les annonces classiques.
                        </li>
                        <li class="mb-2">
                            Grâce à leur position stratégique au sein de leur catégorie,
                            les <span class="text-primary font-weight-stone-600">annonces en vedette</span> sont celles
                            qui sont les plus vues et qui reçoivent le plus de réponses.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
