{% if headers or urgents or galleries or featured %}
    <div class="form-row my-3 advert-options">
        <div class="col-12">
            <div class="h5-responsive title">
                <div class="badge badge-primary d-inline-block z-depth-0 mr-1">5</div>
                <div class="text-primary d-inline-block font-weight-stone-500">Options pour promouvoir votre annonce</div>
            </div>
        </div>
        <div class="col-12" style="border-bottom: 1.8px solid #067195">
            <div class="form-row pr-lg-2">
                <div class="col-12 col-lg-8">
                    <div class="form-row">
                        <div class="col-12 d-flex justify-content-between mt-3 pr-3">
                            <div class="font-weight-bold text-dark">Options</div>
                            <div class="font-weight-bold text-dark">Prix</div>
                        </div>
                        <div class="col-12 option-list pr-3 pb-2">
                            {% if headers|length > 0 %}
                                {{ include('site/option/index/_inline_box.html.twig', {'products': headers}) }}
                            {% endif %}

                            {% if urgents|length > 0 %}
                                {{ include('site/option/index/_inline_box.html.twig', {'products': urgents}) }}
                            {% endif %}

                            {% if galleries|length > 0 %}
                                {{ include('site/option/index/_inline_box.html.twig', {'products': galleries}) }}
                            {% endif %}

                            {% if featured|length > 0 %}
                                {{ include('site/option/index/_inline_box.html.twig', {'products': featured}) }}
                            {% endif %}

                            {{ include('site/option/index/_modal_detail_box.html.twig') }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 advert-option-carousel-parent pl-3 pb-2 d-none d-lg-block">
                    <div id="advert-option-carousel" class="carousel slide carousel-fade advert-option-carousel" data-interval="10000" sdata-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% set carousel_state = false %}

                            {% if headers|length > 0 %}
                                {% set carousel_state = true %}
                                {{ include('site/option/index/_carousel_box.html.twig', {'products': headers, 'state': carousel_state }) }}
                            {% endif %}

                            {% if urgents|length > 0 %}
                                {% if headers|length > 0 %}{% set carousel_state = false %}{% else %}{% set carousel_state = true %}{% endif %}
                                {{ include('site/option/index/_carousel_box.html.twig', {'products': urgents, 'state': carousel_state }) }}
                            {% endif %}

                            {% if galleries|length > 0 %}
                                {% if headers|length > 0 or urgents|length > 0 %}{% set carousel_state = false %}{% else %}{% set carousel_state = true %}{% endif %}
                                {{ include('site/option/index/_carousel_box.html.twig', {'products': galleries, 'state': carousel_state }) }}
                            {% endif %}

                            {% if featured|length > 0 %}
                                {% if headers|length > 0 or urgents|length > 0 or galleries|length > 0 %}{% set carousel_state = false %}{% else %}{% set carousel_state = true %}{% endif %}
                                {{ include('site/option/index/_carousel_box.html.twig', {'products': featured, 'state': carousel_state }) }}
                            {% endif %}
                        </div>
                        <a class="carousel-control-prev" href="#advert-option-carousel" role="button" data-slide="prev">
                            <span class="fas fa-long-arrow-alt-left text-dark" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#advert-option-carousel" role="button" data-slide="next">
                            <span class="fas fa-long-arrow-alt-right text-dark" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}