{% form_theme form_password 'Ui/Form/theme.html.twig' %}

<section class="container">
    <div class="row mb-5 mt-md-5 d-flex justify-content-center">
        <div class="col-md-6">
            {{ include('ui/_flashes_message.html.twig') }}

            {{ form_start(form_password, {'attr': { 'class': 'fos_user_password_change', 'novalidate': 'novalidate' } }) }}
            <div class="card card-cascade mb-5">
                <div class="view view-cascade gradient-card-header bg-primary pt-3 pb-2 z-depth-0">
                    <h5 class="card-header-title h5-responsive">Mot de passe</h5>
                </div>
                <div class="card-body card-body-cascade">
                    <div class="form-row">
                        <div class="col-12">{{ form_widget(form_password.password.first) }}</div>
                        <div class="col-12">{{ form_widget(form_password.password.second) }}</div>
                        {{ form_widget(form_password._token) }}
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary z-depth-0">
                            <i class="fas fa-lock mr-1"></i> Modifier mon mot de passe
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form_password, {'render_rest': false}) }}
        </div>
    </div>
</section>







