{% extends 'site/layout.html.twig' %}

{% form_theme form 'ui/Form/theme.html.twig' %}

{% set settings = config.settings %}

{% block title 'Résultat de recherche d\'annonce' %}

{% block meta %}
    {% set content = "Vous recherchez un biens ? Nous avons des milliers de petites annonces dans laquelle vous pouvez votre bonheur..." %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %}

{% block app_intro %}
    {{ parent() }}

    <section class="bc container-fluid">
        <div>
            {{ wo_render_breadcrumbs({viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb mb-0',
                itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-long-arrow-alt-right'}) }}
        </div>
    </section>
{% endblock %}

{% block app_body %}
    {{ include('site/advert/searchResult/content.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'ui/_javascripts.html.twig' with {'path': 'assets/js/site/navbar.js'} %}
    {% include 'Ui/_javascripts.html.twig' with {'path': 'assets/js/site/favoris.js'} %}
    <script type="text/javascript">
        $(document).ready(function () {
            // Material select
            $('.mdb-select').materialSelect();
            $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
                $(this).closest('.select-outline').find('label').toggleClass('active');
                $(this).closest('.select-outline').find('.caret').toggleClass('active');
            });
        });
    </script>
{% endblock %}

