{% extends 'user/layout.html.twig' %}

{% set settings = config.settings %}

{% block title 'Tableau de bord' %}

{% block meta %}
    <meta name="google" content="nositelinkssearchbox">
{% endblock %}

{% block app_flashes %}{% endblock %}

{% block app_body %}
    <section class="container mb-5">
        <div class="row">
            <div class="col-12">
                <h3 class="h3-responsive font-weight-stone-600 text-dark my-lg-4 mt-2 mb-md-2 mb-4">Tableau de bord</h3>
            </div>
            <div class="col-12 col-md-6 col-lg-4 user-info">
                <div class="card promoting-card mb-4">
                    <div class="card-body d-flex flex-row px-3 pt-3 pb-0">
                        {% if vich_uploader_asset(user, 'file') %}
                            <img src="{{ image_url(user, 110, 110) }}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                        {% else %}
                            <div class="avatar pr-2">
                                <div class="user-prefix d-inline-block rounded-circle">{{ userPrefixName(user) }}</div>
                            </div>
                        {% endif %}
                        <div>
                            <h4 class="card-title text-dark font-weight-stone-600 mb-0 user-name">{{ user.firstname ~ ' ' ~ user.lastname }}</h4>
                            <div class="card-text user-name-created"><i class="fas fa-clock pr-1"></i> Inscrit {{ user.createdAt|ago }}</div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="data">
                            <ul class="card-text list-unstyled text-left">
                                <li>
                                    <i class="fas fa-envelope mr-1"></i> {{ user.email }}
                                </li>
                                <li class="mt-2">
                                    <i class="fas fa-phone-alt mr-1"></i> {{ user.phone }}
                                    {% if user.phoneState %}
                                        <i class="fab fa-whatsapp-square text-success" data-toggle="tooltip" title="Numéro whatsapp"></i>
                                    {% endif %}
                                </li>
                                <li class="mt-2">
                                    <i class="fas fa-map-marker-alt mr-1"></i>
                                    {% if user.city and user.country %}
                                        {{ user.city }} ({{ user.country|country_name }})
                                    {% elseif user.country %}
                                        {{ user.country|country_name }}
                                    {% elseif user.city %}
                                        {{ user.city }}
                                    {% else %}
                                        <span class="badge badge-grey">Aucun</span>
                                    {% endif %}
                                </li>
                                <li class="mt-2">
                                    {% if user.username %}
                                        @{{ user.username }}
                                    {% else %}
                                        @ <span class="badge badge-grey">Aucun</span>
                                    {% endif %}
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-address-book mr-1"></i>
                                    {% if user.address %}
                                        {{ user.address }}
                                    {% else %}
                                        <span class="badge badge-grey">Aucun</span>
                                    {% endif %}
                                </li>
                                <li class="mt-4">
                                    <a href="{{ path('app_user_profil_edit') }}" class="card-link">Editer votre profil</a>
                                </li>
                                <li class="mt-2">
                                    <a href="{{ path('app_user_change_password') }}" class="card-link">Modifier votre mot de passe</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card weather-card mb-4">
                    <div class="card-body text-center">
                        <h3 class="card-title h3-responsive font-weight-stone-600 text-dark">Annonce en ligne</h3>
                        <p class="display-1 font-weight-stone-600 degree text-dark">{{ advert }}</p>
                        <hr class="my-3">
                        <a href="{{ path('app_user_advert_validated_index') }}" class="card-link">
                            Vos annonces en ligne
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                {% if settings.activeCredit %}
                    <div class="card mb-4">
                        <div class="card-body text-center p-3">
                            <p class="text-dark font-weight-stone-500">Facilité vos achats d'options pour vos annonces par l'utilisation de vos crédits.</p>

                            <a href="{{ path('app_user_credit_index') }}" class="btn btn-primary btn-md mt-2 z-depth-0">
                                <i class="fas fa-wallet mr-1"></i>
                                Acheter du crédit
                            </a>
                        </div>
                    </div>
                {% endif %}

                {% if settings.activeParrainage %}
                    {{ include('site/layout/_parrainage.html.twig') }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}




