{% form_theme form 'Ui/Form/theme.html.twig' %}

<section class="container">
    <div class="row mb-5 d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 mb-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="h1-responsive display-3 mb-3 text-center font-weight-bold text-dark">
                        Redéfinir mon mot de passe
                    </h1>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                    <div class="form-row d-md-flex justify-content-md-center">
                        <div class="col-12 col-md-5 col-lg-4">
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="col-12 col-md-5 col-lg-4">
                            {{ form_widget(form.password.second) }}
                        </div>

                        {{ form_widget(form._token) }}


                        {#<div class="col-12 col-md-5 col-lg-4">
                            <div class="md-form md-outline input-with-post-icon mb-0">
                                <i class="fas fa-eye input-prefix"></i>
                                <input type="password" id="{{ form.password.first.vars.id }}"
                                       value="{{ form.password.first.vars.value }}"
                                       name="{{ form.password.first.vars.full_name }}" required
                                       class="form-control form-control-app" />
                                <label for="{{ form.password.first.vars.id }}">{{ form.password.first.vars.label|trans }}</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-4">
                            <div class="md-form md-outline input-with-post-icon mb-0">
                                <i class="fas fa-eye input-prefix"></i>
                                <input type="password" id="{{ form.password.second.vars.id }}"
                                       value="{{ form.password.second.vars.value }}"
                                       name="{{ form.password.second.vars.full_name }}" required
                                       class="form-control form-control-app" />
                                <label for="{{ form.password.second.vars.id }}">{{ form.password.second.vars.label|trans }}</label>
                            </div>
                            {{ form_widget(form._token) }}
                        </div>#}
                        <div class="col-12 col-md-5 col-lg-4 d-flex align-items-center pt-3">
                            <button type="submit" class="btn btn-primary btn-sm btn-block"
                                    style="padding: 12px 21px 11px 21px !important;">
                                Réinitialiser mon mot de passe
                            </button>
                        </div>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
</section>
