{% extends 'site/layout.html.twig' %}

{% block title %}Témoignage des clients et utilisateur du site {{ config.name }}{% endblock %}

{% block meta %}
    {% set content = 'Laissez un témoignage sur notre site ' ~ config.name %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %}

{% block app_flashes %}{% endblock %}

{% block app_intro %}
    {{ parent() }}
    <section class="bc container">
        <div>
            {{ breadcrumb('Vos avis') }}
            {{ wo_render_breadcrumbs({viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
                itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-long-arrow-alt-right'}) }}
        </div>
    </section>
{% endblock %}

{% block app_body %}
    {{ include('site/avis/index/content.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'ui/_javascripts.html.twig' with {'path': 'assets/js/site/navbar.js'} %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LfSnr0UAAAAAGgVbAAZQdtn8UdJ6CAMTf79myG_"></script>
    <script>
        let route = '{{ path('app_review_index') }}';

        grecaptcha.ready(function() {
            grecaptcha.execute('6LfSnr0UAAAAAGgVbAAZQdtn8UdJ6CAMTf79myG_', {action: route })
                .then(function(token) {
                    $('input.app-recaptchaToken').val(token);
                });
        });
    </script>
{% endblock %}




