{% set headOption = headers[0].options %}
{% set urgentOption = urgents[0].options %}
{% set galleryOption = galleries[0].options %}
{% set featureOption = featured[0].options %}

<div class="modal fade right" id="advert-option-data-{{ headOption }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="font-weight-stone-500 h4-responsive heading lead">Annonce en tête de liste</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center mb-4">
                    <img src="{{ asset('assets/img/option/' ~ headOption ~ '.png') }}" alt="" class="img-fluid z-depth-2" />
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary">Replacez votre annonce en tête de liste</h4>
                <p class="font-weight-stone-500">
                    L’option <span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                    replace votre annonce en tête de liste. Cette option vous donne l’avantage ultime.
                    Vous gardez une longueur d’avance sur les autres vendeurs et relancez l’intérêt
                    porté à votre annonce.
                </p>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">
                            Vous avez reçu des réponses qui n’ont pas résulté en ventes ?
                            L'<span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                            vous donne la visibilité supplémentaire pour attirer les acheteurs intéressés.
                        </li>
                        <li class="mb-2">
                            Les annonces sont automatiquement republiées, vous n’avez donc pas à les créer
                            à nouveau - c’est du temps de gagné et un souci en moins.
                        </li>
                        <li class="mb-2">
                            L'<span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                            peut coûter moins cher que l’option <span class="text-primary">annonce en vedette</span>
                            selon l’offre que vous choisissez.
                        </li>
                        <li class="mb-2">
                            Les annonces obtiennent généralement 45% de leurs vues durant les trois premiers
                            jours de publication. En replaçant la vôtre au sommet de sa catégorie, l’option
                            <span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                            permet de recréer cette dynamique et d’augmenter le nombre de vues.
                        </li>
                    </ul>
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">Renvoyez en tête de liste plusieurs annonces au lieu de les republier une par une</li>
                        <li class="mb-2">
                            Le meilleur moment pour places votre annonce en tête de liste se situe à mi-chemin
                            entre la publication de votre annonce et sa date d’expiration
                        </li>
                        <li class="mb-2">
                            Si vous supprimez et republiez votre annonce, vous perdez des vues affichées
                            sur votre compteur. L’option <span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                            donne un coup de pouce à votre annonce tout en gardant votre compteur de vues (et votre crédibilité) intacts
                        </li>
                    </ul>
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">
                            L’option <span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                            replace votre annonce en tête de liste dans les annonces classiques de sa catégorie et
                            dans toutes les recherches pertinentes.
                        </li>
                        <li class="mb-2">
                            Votre annonce restera à cet endroit jusqu'à ce qu'une autre annonce soit mise en
                            haut de la liste.
                        </li>
                        <li class="mb-2">
                            L’option <span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                            est offerte dans toutes les catégories.
                        </li>
                        <li class="mb-2">
                            Une annonce tend à obtenir plus de 45% de ses vues durant les trois premiers jours
                            de publication. L’option <span class="text-primary font-weight-stone-600">annonce en tête de liste</span>
                            vous permet de recréer cette dynamique et de générer plus de vues pendant une plus longue période de temps.
                        </li>
                        <li class="mb-2">
                            Quand vous renvoyez votre annonce en tête de liste, vous conservez le nombre de visites de
                            votre compteur et par conséquent le niveau d’intérêt suscité par votre annonce.
                        </li>
                        <li class="mb-2">
                            L’option <span class="text-primary font-weight-stone-600">annonce en tête de liste</span> changera la
                            date de mise en ligne de votre annonce, mais elle ne prolongera pas sa durée.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="advert-option-data-{{ urgentOption }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="font-weight-stone-500 h4-responsive heading lead">Logo urgent</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center mb-4">
                    <img src="{{ asset('assets/img/option/' ~ urgentOption ~ '.png') }}" alt="" class="img-fluid z-depth-2" />
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary">Si c’est urgent, faites-le savoir</h4>
                <p class="font-weight-stone-500">
                    L’option <span class="text-primary font-weight-stone-600">logo urgent</span>
                    est idéale pour des ventes rapides. Elle ajoute un bandeau et des bordure rouge
                    à votre annonce qui permet aux acheteurs de la trouver rapidement et facilement.
                </p>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                <div class="">
                    <ul class="font-weight-stone-600 pl-3">
                        <li class="mb-2">Vendre plus rapidement</li>
                        <li class="mb-2">Vendre à prix réduit ou négociable</li>
                        <li class="mb-2">Idéal pour vendre rapidement avant un déménagement</li>
                    </ul>
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">Le bandeau et les bordures rouge rend votre annonce plus visible</li>
                        <li class="mb-2">Vous attirez les acheteurs pressés</li>
                        <li class="mb-2">
                            Les annonces urgentes sont vues jusqu’à 2 fois plus souvent et obtiennent davantage
                            de réponses que les annonces classiques
                        </li>
                        <li class="mb-2">
                            Pour de meilleurs résultats, ajoutez l’option
                            <span class="text-primary font-weight-stone-600">logo urgent</span> dès que vous
                            publiez votre annonce
                        </li>
                        <li class="mb-2">
                            Les acheteurs peuvent filtrer directement les annonces
                            <span class="text-primary font-weight-stone-600">logo urgent</span> dans leur
                            recherche pour trouver une bonne affaire ou les prix les plus flexibles
                        </li>
                    </ul>
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                <div class="">
                    <ul class="list-unstyled font-weight-stone-500 pl-3">
                        <li class="mb-2">
                            Le bandeau et les bordures rouge <span class="text-primary font-weight-stone-600">logo urgent</span>
                            permet à votre annonce de se démarquer du lot.
                        </li>
                        <li class="mb-2">
                            L’option <span class="text-primary font-weight-stone-600">logo urgent</span> ne change pas la
                            position de votre annonce dans le classement d’une catégorie.
                        </li>
                        <li class="mb-2">
                            Les ventes sont plus rapides grâce à une annonce qui attire les acheteurs pressés.
                        </li>
                        <li class="mb-2">
                            Comme les acheteurs filtrent les annonces urgentes et les annonces d’articles réduits,
                            vous recevez jusqu’à 3 fois plus de réponses pertinentes qu’avec une annonce classiques.
                        </li>
                        <li class="mb-2">
                            L’option <span class="text-primary font-weight-stone-600">annonce en tête de liste</span> changera la
                            date de mise en ligne de votre annonce, mais elle ne prolongera pas sa durée.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="advert-option-data-{{ galleryOption }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="font-weight-stone-500 h4-responsive heading lead">Galerie de la page d'accueil</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center mb-4">
                    <img src="{{ asset('assets/img/option/' ~ galleryOption ~ '.png') }}" alt="" class="img-fluid z-depth-2" />
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary">Votre annonce pourra être vue des milliers de fois par jour</h4>
                <p class="font-weight-stone-500">
                    L’option <span class="text-primary font-weight-stone-600">galerie de la page d'accueil</span>
                    publie une deuxième copie de votre annonce sur la page d’accueil, vous aidant ainsi à atteindre
                    le plus grand nombre d’acheteurs dans votre communauté.
                </p>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">La page d’accueil est vue par tous les acheteurs, pas uniquement ceux d’une catégorie spécifique</li>
                        <li class="mb-2">Deux emplacements garantissent une meilleure visibilité, et jusqu’à 3 plus de vues qu’une annonce classique</li>
                        <li class="mb-2">Idéal pour promouvoir de multiples produits dans une même annonce</li>
                    </ul>
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">Vous apparaissez en page d’accueil - votre annonce sera la star de {{ config.name }}</li>
                        <li class="mb-2">Vous attirez les acheteurs pressés</li>
                        <li class="mb-2">
                            Les annonces sur la page d’accueil ont les photos les plus vues sur l’ensemble du site
                        </li>
                    </ul>
                </div>
                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">
                            Votre annonce apparaît dans le haut de la page d’accueil de {{ config.name }},
                            pour un maximum de visibilité.
                        </li>
                        <li class="mb-2">
                            La <span class="text-primary font-weight-stone-600">galerie de la page d’accueil</span> ne
                            change pas la position de votre annonce parmi le classement des annonces de sa catégorie.
                        </li>
                        <li class="mb-2">
                            La <span class="text-primary font-weight-stone-600">galerie de la page d’accueil</span>
                            peut afficher jusqu’à seize annonces à la fois. Pour en voir plus, il suffit de
                            rafraîchir la page ou cliquer sur la flèche à droite des annonces pour en voir d’autres.
                        </li>
                        <li class="mb-2">
                            Attirez les acheteurs potentiels dès qu’ils arrivent sur le site.
                        </li>
                        <li class="mb-2">
                            Avec des milliers de vues tirées de la page d’accueil en plus des vues tirées de
                            l’emplacement habituel de votre annonce, vous êtes assurés d’avoir plus de réponses
                            de la part d’acheteurs potentiels qu’avec une annonce standard.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="advert-option-data-{{ featureOption }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="font-weight-stone-500 h4-responsive heading lead">Annonce en vedette</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center mb-4">
                    <img src="{{ asset('assets/img/option/' ~ featureOption ~ '.png') }}" alt="" class="img-fluid z-depth-2" />
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary">Votre annonce mérite une place de choix</h4>
                <p class="font-weight-stone-500">
                    Avec jusqu’à 6 fois plus vues que les annonces classique, les
                    <span class="text-primary font-weight-stone-600">annonce en vedette</span>
                    sont le meilleur moyen de vous aider à vendre votre article.
                    C’est simple, plus il y a de gens qui voient votre annonce, meilleures seront
                    vos chances de faire des ventes !
                </p>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">Idéale pour annoncer de multiples articles en une seule annonce</li>
                        <li class="mb-2">Pour vendre en continu ou répéter une vente</li>
                        <li class="mb-2">Pour promouvoir un produit (ou un service) populaire et/ou à prix élevé</li>
                    </ul>
                </div>

                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">Votre annonce sera visible à deux endroits afin d’améliorer sa visibilité</li>
                        <li class="mb-2">
                            Pas besoin d’utiliser l’option <span class="text-primary">annonce en tête de liste</span>
                        </li>
                        <li class="mb-2">
                            Les acheteurs voient votre annonce dans les premiers résultats de leur recherche
                        </li>
                    </ul>
                </div>
                <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                <div class="">
                    <ul class="font-weight-stone-500 pl-3">
                        <li class="mb-2">
                            L’annonce est affichée à deux emplacements: dans la section "En Vedette" de sa
                            catégorie pour la durée de l’option, ainsi qu’à sa position régulière parmi les
                            résultats de recherche.
                        </li>
                        <li class="mb-2">
                            S’il y a plus de cinq annonces en vedette parmi les vôtres et celles d’autres
                            vendeurs dans une même catégorie, elles apparaîtront en rotation chaque fois
                            que la page sera chargé. Ainsi chaque annonce obtient la même visibilité !
                        </li>
                        <li class="mb-2">
                            Cette section populaire affiche jusqu’à cinq
                            <span class="text-primary font-weight-stone-600">annonces en vedette</span> à la fois.
                        </li>
                        <li class="mb-2">
                            Les <span class="text-primary font-weight-stone-600">annonces en vedette</span> sont en
                            moyenne 6 fois plus vues que les annonces classiques.
                        </li>
                        <li class="mb-2">
                            Grâce à leur position stratégique au sein de leur catégorie,
                            les <span class="text-primary font-weight-stone-600">annonces en vedette</span> sont celles
                            qui sont les plus vues et qui reçoivent le plus de réponses.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

